<!DOCTYPE html>
<html lang="en">
<head>
    <title>🪸Myapp</title>
</head>
<body>

    <center>
        <h3>🪸Protfolio.co...</h3>
    </center>

    <hr>

    <fieldset style="width: 410px;">
        <form method="POST">

            <h6>Enter Data,</h6>

            <span>upload your profilePic:</span>
            <input type="text" name="pic" id="">
            <br><br>

            <span>upload your banner:</span>
            <input type="text" name="banner" id="">
            <br><br>

            <input
                type="text"
                name="fullname"
                id=""
                placeholder="Enter Full Name"
            >
            <br><br>

            <input
                type="email"
                name="email"
                id=""
                placeholder="Enter Email"
            >
            <br><br>

            <input
                type="text"
                name="location"
                id=""
                placeholder="Enter Location"
            >
            <br><br>

            <input
                type="text"
                name="skills"
                id=""
                placeholder="Enter Skills"
            >
            <br><br>

            <textarea
                name="bio"
                id=""
                placeholder="Enter Short Bio"
                rows="4"
                cols="40"
            ></textarea>
            <br><br>

            <button type="submit">Submit</button>

        </form>
    </fieldset>

    <h3>myProfile</h3>

    {# retriving profile data #}
    {% if data %}

        <hr>

        <img
            src="{{ data['banner'] }}"
            alt="banner"
            width="600"
            height="180"
        >

        <br><br>

        <img
            src="{{ data['pic'] }}"
            alt="dp"
            width="220"
        >

        <p>
            <b>Full Name:</b> {{ data['fullname'] }}
        </p>

        <p>
            <b>Email:</b> {{ data['email'] }}
        </p>

        <p>
            <b>Location:</b> {{ data['location'] }}
        </p>

        <p>
            <b>Skills:</b> {{ data['skills'] }}
        </p>

        <p>
            <b>Short Bio:</b> {{ data['bio'] }}
        </p>

    {% endif %}

</body>
</html>
